body {
  font-family: 'Roboto';
  color: #434455;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* logotype */
.logotype {
  font-family: 'Raleway';
  font-style: normal;
  color: #2e2f42;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logotype span {
  color: #4d5ae5;
}

.logotype.footer-logo {
  color: #f4f4fd;
}

/* header link */

.header-nav {
  list-style: none;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

/* nav adress */

.nav-adress {
  list-style: none;
}

.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

/* hero */
.hero {
  background: #2e2f42;
}
.hero-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  text-align: center;
  cursor: pointer;
}

/* about */

.about-list {
  list-style: none;
}

.about-header {
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* examples words */

.works-header {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* staff */

.staff-header {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.staff-subheader {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* footer */

.footer-text {
  color: #e7e9fc;
}

.footer-container {
  background-color: #2e2f42;
  width: 1440px;
  height: 310px;
}

/*  PORTFOLIO!!!!!!!!!!*/

/* filtres */

.filtres-list {
  list-style: none;
}

.filtres-button:hover {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
.filtres-button {
  color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

/* galery */

.galery-header {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.galery-list {
  list-style: none;
}
